body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

.col{
  padding: 0px;
}

#header{
  color: white;
  width: 100%;
  height: 100%;
  font-size: 30px;
  text-align: center;
}

#cont{
  padding: 0px !important;
}

#cols1{
  padding: 0 !important;
  height: 100px;
}

#cols{
  padding: 0 !important ;
  height: 100px;
}

 #btn{
  background-color: #BF2225;
  float: right !important;
  height: 100%;
  width: 100%;
  border: 0;
}

#btn_back{
  background-color: #55A6D7;
  float: left !important;
  height: 100%;
  width: 100%;
  border: 0;
}

#logo{
  height: 100%;
}

#header{
  top: auto;
}

#Imglog{
  width: 50%;
  height: 50%;
}

#sal{
  color: black;
  position: absolute;
  top: 35%;
  font-size: 29px;
  left:20%;
}

.image{
  width: 65%;
  height: 65%;
  position: absolute;
  top: 15%;
  left: 17%;
}

.tablink {
  background-color: white;
  color: #47525E;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 25px 25px;
  font-size: 30px;
  font-family: "Arial" ;
  width: 100%;
  height: 100%;
  border: 2px solid #DEDBE7 ;
}

.tablink:hover {
  background-color: #8EBEEB;
}

input[type=text],input[type=date],input[type=password],input[type=number], input[type=email]{
  width: 50%;
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
}

#tipoFiltrado{
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
}

#tipoDocumento{
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
}

.buttonsBelow{
  width: 90%;
  background-color: #256DB6;
  color: white;
  padding: 8px 5px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 22px;
}

.texto{
  color: #47525E;
  font-size: 22px;
}

#rowsito{
  height: 100px;
  background-color: #256DB6;
}


.botones{
  width: 55%;
  background-color: #256DB6;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
  font-size: 22px;
  border-radius: 30px
}

#descarga{
  padding: 8px;
  border: none;
  cursor: pointer;
  font-size: 22px;
  border-radius: 30px
}

#FiltTable{
  align-items: center;
  margin: 0 auto;
  width: 80%;
}

#RegistroPromedio{
  align-items: center;
}

#hv{
  border: 1px solid black;
  padding: 5px;
  font-family: Arial;
  margin-left: auto;
  margin-right: auto;
}

#hv td, #hv th{
  border: 2px solid #2980B9;
  padding: 8px 8px;
  align-items: center;
  align-content: center;
}

#hv tr:nth-child(even){
  background-color: #2980B9;
}

#hv th{
  background-color: #D6EAF8 ;
}

#tabla td{
  padding: 10px;
}

.nav-link{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

#borrar{
  width: 50%;
  background-color: #0E4682;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
