<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/contactanos.css">
<meta charset="utf-8">
</head>
<body>
  <div class="row" id="rowsito">
    <div class="col-1" id="cols">
    <form action="/contacto_publico" method="POST">
      <div class="col-1" id="cols">
        <input type="submit" name="btn" id="btn_back" value="Volver">
      </div>
    </form>
    </div>
    <div class="col-1" id="cols"><img src="/static/images/logo.png" id="logo"></div>
    <div class="col-8" id="cols1"><br><p id="header">Contáctanos</p></div>
    <div class="col-2" id="cols" >
      <br>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ usuario }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <form  method="POST" action="/main_publico">
            <input class="dropdown-item" type ="submit" value="Editar Perfil" name="btn" >
            <input class="dropdown-item" type ="submit" value="Contáctanos" name="btn" >
            <input class="dropdown-item" type ="submit" value="Cerrar Sesión" name="btn" >
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <form action="/contacto_publico" method="POST">
    <div class="row h-100 d-flex justify-content-center">
        <table width="60%">
        <tr>
          <td><input type="number" name="NIT" placeholder="NIT" required></td>
          <td colspan="2"></td>
          <td><input type="email" name="correo" placeholder="Correo" required></td>
        </tr>
        <tr style="height: 200px;">
          <td colspan="4" id="comentarios"><input type="text" style="width:77%; height: 100%; " name="comentarios" placeholder="Escriba aqui sus comentarios..." required></td>
        </tr>
        <tr style="align-items: center;">
          <td colspan="4"> <input type="submit" name="btn" id="enviar" value="Enviar"></td>
        </tr>
        </table>
    </div>
  </form>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
