<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/editar_perfil_civil.css">
<meta charset="utf-8">
</head>
<body>
    <div class="row" id="rowsito">
      <div class="col-1" id="cols">
      <form action="/edit_perfil" method="POST">
        <div class="col-1" id="cols">
          <input type="submit" name="btn" id="btn_back" value="Volver">
        </div>
      </form>
      </div>
      <div class="col-1" id="cols"><img src="/static/images/logo.png" id="logo"></div>
      <div class="col-8" id="cols1"><br><p id="header">Editar Perfil</p></div>
      <div class="col-2" id="cols" >
        <br>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ usuario }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <form  method="POST" action="/main_civil">
              <input class="dropdown-item" type ="submit" value="Editar Perfil" name="btn" >
              <input class="dropdown-item" type ="submit" value="Contáctanos" name="btn" >
              <input class="dropdown-item" type ="submit" value="Cerrar Sesión" name="btn" >
            </form>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
  <form action="/edit_perfil" method="POST" id="editar">
  <div class="row h-100 d-flex justify-content-center">

      <table width="60%">
      <tr>
        <td><input type="text" name="nombres" placeholder="Nombres"></td>
        <td colspan="2"></td>
        <td>
          <select name="genero" id="genero">
            <option disabled selected>Genero</option>
            <option value = "hombre">Hombre</option>
            <option value = "mujer">Mujer</option>
            <option value ="otro" >Otro </option>
          </select>
        </td>
      </tr>
      <tr>
        <td><input type="text"  name="apellidos" placeholder="Apellidos"></td>
        <td colspan="2"></td>
        <td><input type="number" name="T" placeholder="Teléfono" id="telefono"></td>
      </tr>
      <tr>
        <td><input type="text" name="fecha" placeholder="Fecha de Nacimiento YYYY-MM-DD"	onfocus="(this.type='date')" onblur="(this.type='text')"></td>
        <td colspan="2"></td>
        <td><input type="email" name="correo" placeholder="Correo" id="correo"></td>
      </tr>
      <tr>
        <td>
          <select name="departamento" id="departamento" onchange="cargarMunicipio()">
            <option disabled selected>Departamento</option>

          </select>
        </td>
        <td colspan="2"></td>
        <td><input type="password" name="contraseña" placeholder="Contraseña"></td>
      </tr>
      <tr>
        <td>
          <select name="municipio" id="municipio" onchange="cargarBarrios()">
            <option disabled selected>Municipio</option>
          </select>
        </td>
        <td colspan="2"></td>
        <td> <input type="submit" name="btn" id="guardar" value="Guardar"></td>
      </tr>
      <tr>
        <td>
          <select name="barrio" id="barrio">
            <option disabled selected>Barrio</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><input type="text" name="direccion" placeholder="Dirección"></td>
      </tr>
      <tr>
      <td colspan="2"><p id="error" style="color: red;"> </p> </td>
      </tr>
      </table>
  </div>
  </form>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/static/js/colombia.js"></script>
  <script type="text/javascript" src="/static/js/verificacion_edCivil.js"></script>
</body>
</html>
