<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/static/css/login.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
  </head>
  <body>

  <div class="row h-100 justify-content-center align-items-center" id="BlackImg">
    <div class="row justify-content-center align-items-center" id="loginDiv">
      <form method="POST" action="/">
      <div class="row justify-content-center w-100">
        <table id="logint">
          <tr><td><img src = "/static/images/logo.png" id="logo"></td></tr>
          <tr>
            <td><input type="text" name="user" placeholder="Usuario" id="user" required></td>
          </tr>
          <tr>
            <td><input type="password" name="pass" placeholder="Contraseña" id="password" required></td>
          </tr>
          <tr>
            <td><input type ="submit" value="Iniciar sesion" id="login" name="b1" ></td>
          </tr>
        </form>
        <form method="POST" action="/">
          <tr>
            <td><input type= "submit" value="Registrarse" id="registro" name="b1"></td>
          </tr>
        </form>
        <form method="POST" action ="/">
          <tr>
            <td><input type= "submit" value="Recordar Contraseña" id="recuperarC" name="b1" > </td>
          </tr>
          <tr>
            <td>
              <div class="">
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages %}
                    <p>{{ message }}</p>
                  {% endfor %}
                {% endif %}
              {% endwith %}
             </div>
           </td>
          </tr>
        </table>
      </div>
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
