<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/main.css">
<meta charset="utf-8">
</head>
<body>
  <div class="container-fluid" id="cont">
    <div class="row" id="rowsito">
      <div class="col-11" id="cols1"><p id="header">Menú principal : Configuración</p></div>

      <div class="col-1" id="cols" ><a href="/"><button id="btn"><img src="/static/images/logout.svg" id="logo"></button></a></div>
    </div>
  <div class="row">
    <div class="col">
      <button class="tablink" onclick="openPage('cont','Reg', this)" id="Reg">Configuración</button>
    </div>
    <div  class="col">
      <button class="tablink" onclick="openPage('cont1' ,'Lis', this)" id="Lis">Seguridad</button>
    </div>
  </div>
  <div class="row">

      <div class="col-4" align="center">
      <br>
      <br>
      <br>
      <p class="textoG" id="txt1"> Empleados </p>
      <a href="empleados.html"><span class="dot" id="c1"><img src="/static/images/enginer.svg" class="image"></span></a>
      <br>
      <br>
      <br>
      <div class="texto" > Permite agregar información empleados,  a su vez les da acceso para pedir certificados </div>
      </div>
      <div class="col-4" align="center">
      <br>
      <br>
      <br>
      <p class="textoG" id="txt2"> Empresas  </p>
      <a href="empresas.html"><span class="dot" id="c2"><img src="/static/images/building.svg" class="image"></span></a>
      <br>
      <br>
      <br>
      <div class="texto" > Permite agregar la información de empresas afiliadas al software</div>
      </div>
      <div class="col-4" align="center">
      <br>
      <br>
      <br>
      <p class="textoG" id="txt3"> Historial solicitudes </p>
      <a href="Historial.html"><span class="dot" id="c3"><img src="/static/images/list.svg" class="image"></span></a>
      <br>
      <br>
      <br>
      <div class="texto" > Se mostrará una lista de las solicitudes de certificados hechas por los empleados</div>
      </div>
  </div>
  </div>
  <div class="container-fluid" id="cont1" >
    <div class="row" id="rowsito">
      <div class="col-11" id="cols1"><p id="header">Menú principal : Seguridad</p></div>
      <div class="col-1" id="cols" ><a href="login.html"><button id="btn"><img src="/static/images/logout.svg" id="logo"></button></a></div>
    </div>
  <div class="row">
    <div class="col">
      <button class="tablink" onclick="openPage('cont','Reg', this)" id="Reg">Configuración</button>
    </div>
    <div  class="col">
      <button class="tablink" onclick="openPage('cont1' ,'Lis', this)" id="Lis">Seguridad</button>
    </div>
  </div>

    <div class="row">

      <div class="col-4" align="center">
      <br>
      <br>
      <br>
      <p class="textoG" id="txt1"> Registro de roles </p>
      <span class="dot" id="c1"><img src="/static/images/pencil.svg" class="image"></span>
      <br>
      <br>
      <br>
      <div class="texto" > Permite dar a un usuario las opciones a las cuales puede acceder en el sistema</div>
      </div>
      <div class="col-4" align="center">
      <br>
      <br>
      <br>
      <p class="textoG" id="txt2"> Historial eliminados  </p>
      <a href="HistorialEl.html"><span class="dot" id="c2"><img src="/static/images/notebook.svg" class="image"></span></a>
      <br>
      <br>
      <br>
      <div class="texto" > Listado de elementos eliminados en el sistema, ya sea empresas, empleados, o usuarios</div>
      </div>
      <div class="col-4" align="center">
      <br>
      <br>
      <br>
      <p class="textoG" id="txt3"> Registro de usuarios </p>
      <a href="RegistroUsuario.html"><span class="dot" id="c3"><img src="/static/images/user.svg" class="image"></span></a>
      <br>
      <br>
      <br>
      <div class="texto" > Permite la creacion de un usuario el cual pueda acceder al sistema</div>
      </div>
  </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>
