<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv=”Content-Type” content=”text/html; charset=ISO-8859-1″ />
    <link rel="stylesheet" href="/static/css/register_publico.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
  <div class="h-100 d-flex justify-content-center align-items-center" id="BlackImg">
  <div class="container-fluid" id="loginDiv">
    <div class="row justify-content-center">
      <form action="/register_publico" method="POST" width="100%" id="registro">
      <table width="100%" >
      <tr><td colspan="3"> <img src = "/static/images/logo.png" id="logo" > </td> </tr>
      <tr>
        <td colspan="3"> <p> Registro de Establecimiento Público </p>
      <tr>
      <tr>
        <td> <input type="number" name="NIT" placeholder="NIT" id="nit" required></td>
        <td> <input type="text" name="razon" placeholder="Razón social" required> </td>
      </tr>
      <tr>
        <td>
          <select name="categoria" id="categoria">
            <option value="" disabled selected>Categoria</option>
            <option value = "Cine">Cine</option>
            <option value = "Restaurante">Restaurante</option>
            <option value ="Tienda de Ropa">Tienda de Ropa</option>
            <option value="Gimnasio">Gimnasio</option>
          </select>
        </td>
        <td>
          <select name="departamento" id="departamento" onchange="cargarMunicipio()">
            <option value="" disabled selected>Departamento</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <select name="municipio" id="municipio" onchange="cargarBarrios()">
            <option value="" disabled selected>Municipio</option>
          </select>
        </td>
        <td>
          <select name="barrio" id="barrio">
            <option value="" disabled selected>Barrio</option>
          </select>
        </td>
      </tr>
      <tr>
        <td> <input type="text" name="direccion" placeholder="Dirección" required></td>
        <td> <input type="number" name="T1" placeholder="Teléfono 1" id="telefono1" required></td>
      </tr>
      <tr>
        <td> <input type="number" name="T2" placeholder="Teléfono 2 (opcional)" id="telefono2"></td>
        <td> <input type="number" name="T3" placeholder="Teléfono 3 (opcional)" id="telefono3"></td>
      </tr>
      <tr>
        <td><input type="email" name="correo" placeholder="Correo electronico" id="correo" required></td>
        <td> <input type="text" name="username" placeholder="Nombre de Usuario" required></td>
      </tr>
      <tr>
        <td> <input type="password" name="password" placeholder="Contraseña" required></td>
        <td> <input type="submit" name="Registrarse" value="Registrarse"></td>
      </tr>
      <tr>
      <td colspan="2"><p id="error" style="color: red;"> </p> </td>
      </tr>
      </table>
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/static/js/colombia.js"></script>
  <script type="text/javascript" src="/static/js/verificacion_entidades.js"></script>

  </body>
</html>
