<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/static/css/register_select.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
  </head>
  <body>

  <div class="row h-100 justify-content-center align-items-center" id="BlackImg">
    <div class="row justify-content-center align-items-center" id="loginDiv">
      <form method="POST" action="/register_select">
      <div class="row h-100 justify-content-center align-items-center">
        <table style=" width: 100%;">
          <tr><td><img src = "/static/images/logo.png" id="logo"> </td> </tr>
          <tr><td> <p>Escoga el tipo de usuario que desee registrar </p></td></tr>
          <tr>
            <td>
              <select name="tipoR" id="tipoRegistro">
                <option value="" disabled selected>Seleccione el tipo de registro</option>
                <option value = "C">Civil</option>
                <option value = "EP">Establecimiento Público</option>
                <option value ="ES" >Establecimiento Salud </option>
              </select>
            </td>
          </tr>
          <tr> <td> <input type="submit" value="Continuar"> </td> </tr>
        </table>
      </div>
     </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
