{% extends 'main_publico.html' %}

<head>
  <link rel="stylesheet" href="/static/css/main_publico.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

{% block content %}
<table style="width:100% align:center;">
  <tr>
    <td style="text-align:center; height:180px">
      <h1>Llena los siguientes campos para registrar una visita</h1>
    </td>
  </tr>
  <form action="/registro_falla" method="post">
    <tr>
      <td style="text-align:center; height:80px">
        <input type="text" name="nombres" placeholder="Nombres" required>
      </td>
    </tr>
    <tr>
      <td style="text-align:center; height:80px">
        <input type="text" name="apellidos" placeholder="Apellidos" required>
      </td>
    </tr>
    <tr>
      <td style="text-align:center; height:80px">
        <select name="TD" id="tipoDocumento" required>
          <option value="" disabled selected>Tipo de documento</option>
          <option value = "TI">Tarjeta de Identidad</option>
          <option value = "CC">Cedula de Ciudadania</option>
          <option value ="Pasaporte" >Pasaporte </option>
        </select>
      </td>
    </tr>
    <tr>
      <td style="text-align:center; height:80px">
        <input type="number" name="ND" placeholder="Numero Documento" required>
      </td>
    </tr>
    <tr>
      <td style="text-align:center; height:80px">
        <input type="number" name="temp" placeholder="Temperatura" required>
      </td>
    </tr>
    <tr>
      <td style="text-align:center; height:80px">
        <select name="tapabocas" id="tipoDocumento" required>
          <option value="" disabled selected>¿Lleva tapabocas?</option>
          <option value = "Si">Si</option>
          <option value = "No">No</option>
        </select>
      </td>
    </tr>
    <tr>
      <td style="text-align:center; height:80px">
        <input type="text" name="fecha" placeholder="Fecha de Entrada YYYY-MM-DD"	onfocus="(this.type='date')" onblur="(this.type='text')" required>
      </td>
    </tr>
    <tr>
      <td style="text-align:center; height:80px">
        <input type="time" id="appt" name="hora" required>
      </td>
    </tr>
    <tr>
      <td style="text-align:center; height:80px">
        <input type="submit" name="btn" id="upload" value="Registrar">
      </td>
    </tr>
  </form>

</table>
{% endblock %}

{% block scripts %}
{% endblock %}
