{% extends 'main_civil2.html' %}

{% block content %}
<table style="width:100% align:center;">
  <tr>
    <td> <input type="text" name="nombres" placeholder="Nombres" required></td>
    <td colspan="2"></td>
    <td> <input type="text" name="apellidos" placeholder="Apellidos" required></td>
  </tr>
  <tr>
    <td><input type="text" name="fecha" placeholder="Fecha de Nacimiento YYYY-MM-DD"	onfocus="(this.type='date')" onblur="(this.type='text')" required></td>
    <td colspan="2"></td>
    <td>
      <select name="tipoDocumento" id="tipoDocumento">
        <option value="" disabled selected>Tipo de documento</option>
        <option value = "TI">Tarjeta de Identidad</option>
        <option value = "CC">Cedula de Ciudadania</option>
        <option value ="Pasaporte" >Pasaporte </option>
      </select>
    </td>
  </tr>
  <tr>
    <td> <input type="text" name="numeroDocumento" placeholder="Numero Documento" required></td>
    <td colspan="2"></td>
    <td>
      <select name="departamento" id="departamento" onchange="cargarMunicipio()" >
        <option value="" disabled selected>Departamento</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>
      <select name="municipio" id="municipio" onchange ="cargarBarrios()" >
        <option value="" disabled selected>Municipio</option>
      </select>
    </td>
    <td colspan="2"></td>
    <td>
      <select name="barrio" id="barrio">
        <option value="" disabled selected>Barrio</option>
      </select>
    </td>
  </tr>
  <tr>
    <td> <input type="text" name="direccion" placeholder="Direccion" required></td>
    <td colspan="2"></td>
    <td>
      <select name="genero" id="genero">
        <option value="" disabled selected>Genero</option>
        <option value = "hombre">Hombre</option>
        <option value = "mujer">Mujer</option>
        <option value ="otro" >Otro </option>
      </select>
    </td>
  </tr>
  <tr>
    <td> <input type="text" name="telefono" placeholder="Telefono" required></td>
    <td colspan="2"></td>
    <td> <input type="text" name="correo" placeholder="Correo" required></td>
  </tr>
  <tr>
    <td colspan="4"> <input type="submit" name="Registrarse" value="Registrar examen"></td>
  </tr>
</table>
{% endblock %}
